<a href="/">Home</a>
<a href="/History">History</a>
<a href="/about">About</a>
<br><br>
<%/*
<button id="home" type=button onclick="location.href='http://localhost:3000/'">Home</button> <br>
<button id="history" type=button onclick="location.href='http://localhost:3000/history'">History</button> <br>
<button id="about" type=button onclick="location.href='http://localhost:3000/about'">About</button> <br>
<br><br>
*/%>
