<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
    
	<meta name="author" content="Andre Cavalheiro">
    <meta name="description" content="Cavalheiro's personal home cinema">

    <style type="text/css">
    </style>

    <script type="text/javascript">
    </script>
</head>


<body>
    <script src="jquery.js"></script>

    <h1>Home Cinema </h1>   <h4>By Cavalheiro</h4>

	<h2>Download Movies:</h2>
    <form id="gettorrent" action="/torrent" method="POST" enctype="multipart/form-data">
        <h4>Insert .torrent file:</h4>
        <br>
        <input type="file" name="torrentfile" id="torrentfile">
        <input type="submit" value="Uploud">
    </form>
    
    <form id=getmagnet>
        Insert magnetURL:
        <input type="text" name="magnetURL" id="magnetURL">

    </form>


    <h2>Available movies:</h2>
    <% for( var i = 0; i<movies.amount; i++ ){ %>
        <li><a href="/cinema/<%=movies.library[i].name%>"> <%=movies.library[i].name%> </a></li>
    <% } %>

</body>
</html>

magnetURl