<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />

	<meta name="author" content="Andre Cavalheiro">
  <meta name="description" content="Cavalheiro's personal home cinema">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="http://vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.5/video.js"></script>
</head>


<body>

        <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>

        <div id='container_1'>
            <div id='magnet'>
                <input type="text" id="magnetURI" placeholder="Insert Magnet URL">
                <button id=uploud>Uploud</button>
            </div>
            <br>

            <input type="button" id ="sample_b" value="sample">
            <div id=sample_d>
                <h5>Working:</h5>
                <h6>magnet:?xt=urn:btih:70da62aeeafb0f28efe27dcf171fd2b87b677b21</h6>       
                <br>
                <h6>magnet:?xt=urn:btih:3cd752f7bdca459323616b2495ac36b4907853b4</h6>
                <br>
                <h5>Not working:</h5>
                <br>
                <h6>magnet:?xt=urn:btih:5576b680bccc56ee5e3e937fbe5016f52f081931</h6>
            </div>
        </div>


   <div id="player">
		<video id="video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload width="640" height="360"></video>
	</div>
</body>
</html>

<script type="text/javascript">
          $('#sample_d').hide();
          $('#player').hide();

          var uploud_click = 0;
          
          //Sample Button
          $('#sample_b').click(function(){
              if($('#sample_d').is(":visible") ){
                  $('#sample_d').hide()
              }
              else{
                  $('#sample_d').show()
              }
          })

          //Uploud Button
          $('#uploud').click(function() {
              if(uploud_click == 0){
                  uploud_click = 1;
                  var magnetURI = $('#magnetURI').val();
                  $('#magnetURI').val('');
                  $.post('/download',{magnetURI : magnetURI}, function(data){
                      var infoHash = data.infoHash;
                      $('#container_1').hide()
                      $('#player').show()
                      uploud_click = 0;

                      $.getJSON('/video_metadata/' + infoHash , function(data) {
                      var video = videojs('video');
                      video.duration = function() { return video.theDuration; };
		              video.start = 0;
		              video.oldCurrentTime = video.currentTime;

                      video.currentTime = function(time) {
			            if(time == undefined) {
				        return video.oldCurrentTime() + video.start;
			            }
                        video.start = time;
			            video.oldCurrentTime(0);
			            video.src('/video/' + infoHash + '?start=' + time);
			            setTimeout(function() {
				        video.play();
			            }, 100);
			            return this;
		             };
                      video.src('/video/' + infoHash);

                      video.theDuration = Math.floor(data.streams[0].duration);
		              setTimeout(function() {
			            $('#loading').fadeOut(300);
			            $('#player').fadeIn(300);
		                }, 1000);
	});

                  })
              }
           })
    </script>

