<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />

	<meta name="author" content="Andre Cavalheiro">
  <meta name="description" content="Cavalheiro's personal home cinema">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>


<body>

        <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>

        <div id='magnet'>
            <form id="download" method="post" action="/download">
                <input type="text" name="magnetURI" placeholder="Insert Magnet URL">
                <button id=uploud>Uploud</button>
            </form>
        </div>
        <br>

        <input type="button" id ="sample_b" value="sample">
        <div id=sample_d>
        <h6>magnet:?xt=urn:btih:70da62aeeafb0f28efe27dcf171fd2b87b677b21</h6>       
        <br>
        <h6>magnet:?xt=urn:btih:3cd752f7bdca459323616b2495ac36b4907853b4</h6>
        <br>
        <h5>Not working:</h5>
        <br>
        <h6>magnet:?xt=urn:btih:5576b680bccc56ee5e3e937fbe5016f52f081931</h6>
        </div>
    </div>

    <script type="text/javascript">
          $('#sample_d').hide();
          //Sample Button
          $('#sample_b').click(function(){
              if($('#sample_d').is(":visible") ){
                  $('#sample_d').hide()
              }
              else{
                  $('#sample_d').show()
              }
          })
    </script>
</body>
</html>
