<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />

	<meta name="author" content="Andre Cavalheiro">
  <meta name="description" content="Cavalheiro's personal home cinema">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>


<body>

        <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>

        <div id="error"> <h2><font color="red">Invalid magnet link, please refresh the page</font></h2></div>

        <div id='front_page'>
            <form id='magnet'>
                <input type="text" id="magnetURI" placeholder="Insert Magnet link">
                <input type="submit" value="Uploud">
            </div>
            <br>

            <input type="button" id ="sample_b" value="sample">
            <div id=sample_d>
                <h5>Genius S01E01:</h5>
                <h6>magnet:?xt=urn:btih:70da62aeeafb0f28efe27dcf171fd2b87b677b21</h6>       
            </div>
        </div>


</body>
</html>

<script type="text/javascript">
          $('#error').hide();
          $('#sample_d').hide();
          
                   
          //Sample Button
          $('#sample_b').click(function(){
              if($('#sample_d').is(":visible") ){
                  $('#sample_d').hide()
              }
              else{
                  $('#sample_d').show()
              }
          })
    
          //Uploud Button
          $('#magnet').off('submit').on('submit', function(e){ 
              e.preventDefault();    

              var magnetURI = $('#magnetURI').val();
              $('#magnetURI').val('');

              $.post('/download',{magnetURI : magnetURI}, function(data){
                var infoHash = data.infoHash;
                $('#error').hide();
                $('#front_page').hide()
                window.location.replace('http://localhost:3000/torrent/' + infoHash );               
              })
              /*.fail(function(err){
                $('#front_page ').hide();
                $('#sample_b').hide();  
                $('#error').show();
              })*/
              
           })
    
</script>

                        