<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />

	<meta name="author" content="Andre Cavalheiro">
  <meta name="description" content="Cavalheiro's personal home cinema">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>


<body>

        <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>

        
</body>
</html>

<script>
       

</script>
