<!DOCTYPE html>
<html>

<head>
    <title>Home_cinema</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />

	<meta name="author" content="Andre Cavalheiro">
  <meta name="description" content="Cavalheiro's personal home cinema">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
  <body>
    <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>

    <%include header.ejs%>

    <div id="files">
            <div id="torrent_title"></div>
            <h4>Select the file that you wish to see</h4>
            <form id="torrent_files"></form>
    </div>

    <br>
     <input type="button" id="delete" value="Delete">
    <br>

  </body>
</html>

  <script type="text/javascript">
        var url = location.href.split("/");
        var infoHash = url[4];
        $.get('/stream/files/' + infoHash, function(data){
               $('#torrent_title').append('<h3>' + data.title + '</h3>');
               for(i=0; i<data.files.length;i++){
                   $('#torrent_files').append('<input type="radio" name="files" value="' + i + '" >' +  data.files[i] + '<br>');
               }
               $('#torrent_files').append('<br> <input type="submit" id="stream" value="stream">');
        });

        $('#torrent_files').off('submit').on('submit', function(e){
          e.preventDefault();
          var index = $('input[name=files]:checked', '#torrent_files').val();
          window.location.replace(url[0] + '//' + url[2] + '/display/' + infoHash + '/' + index );
        })

        $('#delete').off('click').on('click', function(e){
           e.preventDefault();
           $.get('/stream/remove/' + infoHash, function(data){
             window.location.replace(url[0] + '//' + url[2]);
           });
         })

         /*
         <form id=mod_time>
       Administrators only: I want to save this torrent for
       <Select>
         <option value="1">1 </option>
         <option value="2">2 </option>
         <option value="3">3  </option>
         <option value="4">4 </option>
       </Select>
       <input type="submit" id="change" value="change">'
     </form>
     <Select>
         <option value="1">1 </option>
         <option value="2">2 </option>
         <option value="3">3  </option>
         <option value="4">4 </option>
       </Select>
       <input type="submit" id="change" value="change">'
     </form>
     */


  </script>
