<!DOCTYPE html>
<html>

<head>
    <title></title>

    <meta charset="utf-8" />
    <meta name="author" content="Andre Cavalheiro">
    <meta name="description" content="Cavalheiro's personal home cinema">
</head>

<body>
    <h1>Home Cinema</h1>   <h4>By Cavalheiro</h4>
    <form action="/" method="GET" enctype="multipart/form-data">
        <input type="submit" value="Home">
    </form>

    <% if (valid == 1) { %>
        <h3>Congratulations!</h3> Your torrent has been received (maybe), enjoy: 

        <%var video1 = "http://localhost:3000/stream/"+123;%>
        <video id="Video" controls autoplay>
            <source src="<%=video1%>" type="video/mp4" />         
        </video>
        
    
    <% } %>
    
    <% if (valid != 1) { %>
        <h3>Failure</h3> Invalid torrent for some reason.
    <% } %> 
</body>

    



