<!DOCTYPE html>
<html>

<head>
    <title></title>

    <meta charset="utf-8" />
    <meta name="author" content="Andre Cavalheiro">
    <meta name="description" content="Cavalheiro's personal home cinema">
</head>

<body>
    <% if (valid == 1) { %>
        <h3>Congratulations!</h3> Your torrent has been received (maybe), enjoy:
        <% console.log(file) %> 
        <video id="Video" controls autoplay>
            <%path = "/videos/movies/" + <%=file%> ; %>
            <source src=<%=path%> type="video/mp4" />         
        </video>
        
    
    <% } %>
    
    <% if (valid != 1) { %>
        <h3>Failure</h3> Invalid torrent for some reason.
    <% } %>
    
    
</body>