<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include Templates/header.ejs %>

    <h1><%= title %>!!!</h1>
    
    <p> Pessoa: <%= data.Who %> </p>
    <p> Departamento: <%= data.department %> </p>
    </form>

  </body>
</html>
